langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
langchain-tavily
wikipedia
trustcall
langgraph-cli[inmem]
sentence_transformers
docx
PyPDF2
pathlib
openai
chromadb
ipykernel
twilio 
flask 
python-dotenv
streamlit